// 最大インナー幅900px
// 日本語は游ゴシック、英字はLato

// Google Fonts から Lato(400,700), Noto Sans JP(400,700)
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');







// インナー幅
$layout-width-inner: 900px;

// ヘッダーの高さ
$header-height-pc: 120px;
$header-height-sp: 100px;

$main-color: #769FCD;
$bg-color-1: #BDBDBD;
$bg-color-2: #D6E6F2;

$font-color: #212121;
$font-en: 'Lato', sans-serif;
$font-jp: "游ゴシック", 'YuGothic','Noto Sans JP', sans-serif;

// ブレイクポイント
$breakpoints: (
  'sp': "(max-width: 767px)",
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  'pc': "(min-width: #{$layout-width-inner})"
);

// メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
       @content;
    }
}



// 全体
body {
    font-family: $font-jp;
    color: $font-color;
}


// 汎用
.inner {
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;

    @include mq('tab') {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include mq('sp') {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.section-title {
    padding-top: 80px;
    font-size: 48px;
    font-family: $font-en;
    text-align: center;
    position: relative;

    @include mq('tab') {
        font-size: 40px;
    }

    @include mq('sp') {
        font-size: 36px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: #769FCD;
        top: calc( 50% + 80px / 2 );
        left: calc( 50% - 120px );
        transform: translateY(-50%);
    }
}

.anchor {
    display: block;
    padding-top: 120px;
    margin-top: -120px;
}

//ヘッダー
.header {
    height: $header-height-pc;
    width: 100%;
    background: $main-color;
    top: 0;
    left: 0;
    font-size: 26px;
    font-weight: 700;
    position: fixed;
    z-index: 100;
    @include mq('sp') {
        height: $header-height-sp;

    }
}

.header__inner {
    display: flex;
    align-items: center;
    height: inherit;
    @include mq('sp') {
        justify-content: center;
    }
}

.header__logo {

    img {
        display: block;
        width: 284px;
        max-width: 100%;
        @include mq('sp') {
            width: 240px;
        }
    }
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-family: $font-en;

    @include mq('sp') {
        display: none;
    }

    li {
        &:not(:first-child) {
            margin-left: 60px;
            @include mq('tab') {
                margin-left: 30px;
            }
        }

        a {
            text-decoration: none;
            
            &:hover {
                opacity: 0.7;
            }
        }
    }
}


// メインビジュアル
.main-visual {
    height: 800px;
    background: #B9D7EA url(./img/main_visual.jpg) no-repeat center center / cover;
    position: relative;
    margin-top: $header-height-pc;

    @include mq('tab') {
        height: 500px;
    }

    @include mq('sp') {
        margin-top: $header-height-sp;
        font-size: 40px;
        height: 400px;
    }
}

.main-visual__inner {
    width: 100%;
}

.main-visual__text {
    font-size: 80px;
    font-weight: 700;
    font-family: $font-en;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    @include mq('tab') {
        font-size: 60px;
    }

    @include mq('sp') {
        font-size: 40px;
    }
}

// Works 
.works {
    background: #EEEEEE;
}

.works__inner {

}

.works__content {

}

.works__cards {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.works__card {
    background: #FFFFFF;
    text-align: center;
    width: calc( 50% - 60px / 2 );
    margin-top: 60px;
    height: 300px;

    @include mq('pc') {
        &:nth-child( 2n ) {
            margin-left: 60px;
        }
    }
    @include mq('tab') {
        &:nth-child( 2n ) {
            margin-left: 60px;
        }
    }
    @include mq('sp') {
        width: 500px;
        margin: 20px auto;

    }
}

.works__card__img {
    display: block;
    margin: 20px;
    height:182px;

    img {
        height: 182px;
        max-width: 350px;
    }
}

.works__button {
    display: inline-block;
    text-align: center;
    background: #769FCD;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    
    &:hover {
        opacity: 0.7;
    }
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 200px;
        color: #FFFFFF;
        font-size: 20px;
        text-decoration: none;
    }
}

.skills {
    background: #FFFFFF;
}

.skills__inner {

}

.skills__cards {    
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 60px;
    justify-content: center;
    @include mq('sp') {
        display: block;
    }

}

.skills__card {
    background: #eee;
    height: 400px;
    width: calc(33% - 40px);
    max-width: 270px;

    &:not(:first-child){
        margin-left: 40px;
    }

    @include mq('sp') {
        padding-top: 20px;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;

        &:not(:first-child){
            margin: 20px auto 0;
        }
    }
}

.skills__img {
    margin-top: 40px;
    text-align: center;

    img {
        height: 120px;
    }
}

.skills__title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
}

.text-contain {
    text-align: center;
}

.skills__text {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    font-family: $font-en;
    font-weight: 500;
    margin-top: 20px;
}


// about

.about {
    background: #EEEEEE;
    padding-bottom: 100px;
}

.about__inner {

}

.about__contain {
    display: flex;
    background: #FFFFFF;
    margin-top: 80px;
    width: 100%;
    @include mq('tab') {
        flex-direction: column;
        padding: 50px;
        text-align: center;
    }
    @include mq('sp') {
        flex-direction: column;
        padding: 50px;
        text-align: center;
    }
}

.about__img {
    margin: auto 20px;

    img {
        display: block;
        height: 260px;
        width: 800px;
        @include mq('sp') {
            height: 200px;
            width: 100%;
        }
    }
}

.about__right {
    margin-top: 60px;
    margin-right: 20px;
    @include mq('tab') {
        margin: 0 auto;
        text-align: center;
    }
    @include mq('sp') {
        margin-right: 0;
    }
}

.about__name {
    font-size: 28px;
    font-weight: 700;
}

.about__text {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.footer {
    height: 60px;
    background: #769FCD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    font-size: 16px;
    font-family: $font-en;
    font-weight: 700;
}

// トップへ戻るボタン
.to-top {
    position: fixed;
    z-index: 50;
    right: 50px;
    bottom: 90px;
    display: none;
    @include mq('sp') {
        right: 20px;
        bottom: 0;
    }


    img {
        max-width: 100px;
        @include mq('sp') {
            width: 80px;
            bottom: 0;
        }
    }
}