
// 最大インナー幅900px
// 英字はLato、日本語は游ゴシック

// Google Fonts から Lato(400,700), Noto Sans JP(400,700)
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

////////////////////
// インナー幅
$layout-width-inner: 900px;

////////////////////
// ヘッダーの高さ
$header-height-pc: 120px;
$header-height-sp: 100px;

////////////////////
// フォント・カラー
$main-color: #769FCD;
$sub-color: #B9D7EA;

$font-color: #212121;
$font-en: 'Lato', sans-serif;
$font-jp: "游ゴシック", 'YuGothic','Noto Sans JP', sans-serif;

////////////////////
// ブレイクポイント
$breakpoints: (
  'sp': "(max-width: 767px)",
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner + 99px})",
  'pc': "(min-width: #{$layout-width-inner + 100px})"
);

////////////////////
// メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
       @content;
    }
}


////////////////////
// 全体
html {
    scroll-behavior: smooth;
}
body {
    font-family: $font-jp;
    color: $font-color;
    background: #EEEEEE;
}

////////////////////
// 汎用
.inner {
    width: $layout-width-inner;
    max-width: 100%;
    margin: 0 auto;

    @include mq('tab') {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include mq('sp') {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.anchor {
    padding-top: $header-height-pc;
    margin-top: (-$header-height-pc);
}

.content__inner {
    padding: 0 60px;
    
}

.text__inner {
    padding: 0 40px;
}

////////////////////
// ヘッダー
.header {
    height: $header-height-pc;
    width: 100%;
    background: $main-color;
    top: 0;
    left: 0;
    font-size: 26px;
    font-weight: 700;
    position: fixed;
    z-index: 100;
    @include mq('sp') {
        height: $header-height-sp;
    }
}

.header__inner {
    display: flex;
    align-items: center;
    height: inherit;
    @include mq('sp') {
        justify-content: center;
    }
}

.header__logo {

    img {
        display: block;
        width: 284px;
        max-width: 100%;
        @include mq('sp') {
            
        }
    }
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-family: $font-en;

    @include mq('sp') {
        display: none;
    }

    li {
        &:not(:first-child) {
            margin-left: 60px;
            @include mq('tab') {
                margin-left: 30px;
            }
        }

        a {
            text-decoration: none;
            
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

////////////////////
// パンくずリスト

.breadcrumb {
    margin-top: $header-height-pc;
    background: $sub-color;
    @include mq('sp') {
        margin-top: ($header-height-pc - 20px) ;
    }
}

.breadcrumb__nav {

}

.breadcrumb__items {
    display: flex;
    font-size: 16px;
}

.breadcrumb__item {
    padding: 20px 0;

    &:not(:last-child) {
        &::after {
            content: ">";
            margin: 0 10px;
        }
    }

    a {
        text-decoration: none;
    }

    @include mq('sp') {
        padding: 10px 0;
    }
}

.breadcrumb__link {

}

////////////////////
// メインコンテンツ


// 目次
.content {
    max-width: 900px;
    width: 100%;
    background: #FFFFFF;
}

.page-title {
    padding-top: 30px;
}

.sumbnail {
    padding-top: 40px;
}

.toc {
    background: $sub-color;
    margin-top: 40px;
}

.toc__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background: $main-color;
    padding: 10px;
}

.toc__lists {
    padding-top: 20px;
    padding-bottom: 20px;
}

.toc__list {
    list-style-type: decimal;
    font-weight: 700;
    margin-left: 20px;
    a {
        text-decoration: none;
    }
}


// 記事
#section-1 {

}



.h2 {
    position: relative;
    background: #EEEEEE;
    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 10px;
        background: $main-color;
    }

    h2 {
        margin-top: 60px;
    }
}

.h3 {
    
    &::before {
        position: absolute;
        content: "";
        height: 40px;
        width: 10px;
        background: $sub-color;
        margin-left: -40px;
    }

    h3 {
        padding: 5px 0;
        margin-top: 40px;
    }
}

.content__text {
    margin-top: 20px;
}

#section-2 {

}

#section-3 {

}

////////////////////
// フッター
.footer {
    height: 60px;
    background: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    font-size: 16px;
    font-family: $font-en;
    font-weight: 700;
}